body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60px;
    
}

#num {
    font-size: 80px;
}

#btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 20px;
}

#btn:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}